<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CropCast</title>
    <link rel="icon" type="image/x-icon" href="../static/logo_favicon.png">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="nav-bar">

        <div class="logo-div">
            <div class="main-title">
                <img src="../static/logo.png" style="height: 30px; padding-top: 3px;">
            </div>
            
        </div>
        <div class="loco-display">
            <div class="location">
                <p>Location: {{location}} ({{closest_coordinates[0]}}, {{closest_coordinates[1]}})</p>
            </div>
        </div>
    </div>

    <div class="all-crops">
        <div class="header">
            <div id="heading-one"><h1><i>Crops we recommend for your soil type</i></h1></div>
            <div id="heading-two"> <p>Fertilizer: {{common_fertilizer[0]}} & {{common_fertilizer[1]}}</p></div>
           
        </div>
        <div class="crop-container">
            <!-- <div class="first-crop">

        </div>
        <div class="second-crop">

        </div>
        <div class="third-crop"></div> -->
        <div class="crop1">
            <img src="..\static\crop\{{common_crops[0]}}.png">

            <h2><center> {{common_crops[0]}} </center></h2>

            <div class="para-container">
                <p><center>Rice is the basic food crop and being a tropical plant, 
                it flourishes comfortably in a hot and humid climate</center></p>
            </div>
            
        </div>
        <div class="separator"></div>
        <div class="crop1">
            <img src="..\static\crop\{{common_crops[1]}}.png">

            <h2><center> {{common_crops[1]}} </center></h2>

            <div class="para-container">
                <p><center>Rice is the basic food crop and being a tropical plant, 
                it flourishes comfortably in a hot and humid climate</center></p>
            </div>
        </div>
        <div class="separator"></div>
        <div class="crop1">
            <img src="..\static\crop\{{common_crops[2]}}.png">

            <h2><center>{{common_crops[2]}}</center></h2>

            <div class="para-container">
                <p><center>Rice is the basic food crop and being a tropical plant, 
                it flourishes comfortably in a hot and humid climate</center></p>
            </div>
        </div>
        
        </div>
        
    </div>
</body>
</html>